@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./background.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}


/*HEADER*/
.header {
    
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 15px;
    align-items: center;
    background-color: rgb(212, 212, 216, 0.2);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 150px;
    color:#27272a;
}

.logo {
    flex-grow: 2;
    min-height: 70px;

}
.logo-img{
    width: 200px;
}

/*MAIN*/
.main {
    flex-grow: 1;
}

.textBox{

    background-color: rgb(212, 212, 216, 0.8);
    padding: 15px;
    border-radius: 5px;
}
.upperBox{
    width: 300px;
    margin-top: 150px ;
    margin-left: 30%;
    padding-bottom: 30px;
}
.lowerBox{
    width: 350px;
    margin-top: 150px ;
    margin-left: 60%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

/*FOOTER*/
.footer {
    background-color: rgb(212, 212, 216, 0.2);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* MENU PAGE */
.dish{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.dish img{
    width: 100px;
}
/* CONTACT PAGE */
.contactBox{
    width: 500px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}